<!-- <div class="container">
  <div class="row text-center bg-success p-4">
    <div class="col-md-10 offset-md-1">

      <app-newchild [GetmsgFromParent]="msgfromparen"></app-newchild> 
      <app-newchild></app-newchild> 
       <app-child [msgfromparent]="fromparent" (toparent)="fromchild"></app-child> 
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-stdform (stddata)="getstddata($event)"></app-stdform>
    </div>
    <div class="col-md-6">
      <app-tableform [getstddata]="stdarry">
        
      </app-tableform>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <!-- <app-produtinfo>

    </app-produtinfo> -->
  </div>
</div>

<!-- we have use this parent child  to get specific html element -->
<!-- to send data parent to child we create coustam propery by using @input decorator and bind this property to use property bindeing -->